$theme-color: #FF0000;
::-moz-selection {
	color: #fff;
	background-color: $theme-color;
}
::selection {
	color: #fff;
	background-color: $theme-color;
}

.drop-solidopacity {
	background-color: rgba(242, 84, 84, 0.4);
}
.drop-menu a:hover,
.drop-menu li.active > a,
.theme-color,
.service:hover .service-icon i,
.atom-btn:hover,
.atom-btn:focus,
.contact-details a:hover {
	color: $theme-color;
}
.nicescroll-cursors,
.drop-menu a:after,
.atom-btn,
input:focus,
textarea:focus {
	border-color: $theme-color !important;
}
.nicescroll-cursors,
.drop-menu li.active > a:after,
.atom-btn {
	background-color: $theme-color !important;
}